@media(max-width:1200px){
    .container{
        padding: 0 50px;
    }

  
    .header__list {
        display: flex;
        gap: 8px;
        padding: 28px 10px 25px;
    }

    .header__list-item {
        font-size: 18px;
    }

    .header__contacts {
        width: 380px;
        padding: 22px 10px 21px 10px;
    }

    .heder__contacts-link {
        font-size: 25px; 
    }

    .gear::before {
      
        width: 15px;
        height: 15px;
       background-size: cover;
        margin-right: 8px;
    }

    /* .hero__list-item {
        width: 230px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .hero__img {
        width: 100px;
    } */

    .hero__title {
        font-size: 73px;
    }

    .hero__text {
        font-size: 28px;
    }

    .hero__button {
            padding: 21.5px 50.5px;
    }
    
}

@media(max-width: 1024px){
    .hero{
        /* height: 82vh; */
    }

    .example__slider-buttons{
        width: 120px;
        height: 47px;
        gap: 40px;
    }
}

@media(max-width: 576px){

    .site-title{
        font-size: 36px;
    }

    .header{
        background: rgba(0,0,0,0.77);
        padding: 30px 0;
    }

    .container{
        padding: 0 20px;
    }

    .header__content{
        justify-content: flex-end;
        gap: 26px;
    }


    .header__contacts {
        backdrop-filter: none;
        box-shadow: none;
        background: transparent;
        opacity: 1;
        border: none;
        border-radius: 0;
        width: auto;
        display: block;
        justify-content: normal;
        align-items: normal;
        padding: 0;
        order: 1;
    }

    .heder__contacts-link {
       display: none;
    }

    .header__contacts-icon {
        height: 36px;
    }

    .header__contacts-icon svg {
        width: 36px;
        height: 36px;
    }

    .header__list {
        display: none;
        
        visibility: hidden;
        opacity: 0;
    }

    .header__nav {
        background: transparent;
        max-width: none;
        border-radius: 0;
        order: 2;
    }

    .burger{
        display: flex;
    }

    .hero__title{
        font-size: 53px;
        max-width: 320px;
        margin-bottom: 18px;
    }

    .hero__text{
        font-weight: 400;
font-size: 20px;
margin-bottom: 18px;
max-width: 305px;
    }

    .hero__button{
        padding: 17.5px 63px;
        font-size: 18px;
    }

    .hero__list {
        gap: 32px;
    }

    .about__content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .about{
        padding: 46px 0;
    }

    .about__caption{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .about__text{
        font-size: 12px;
        margin-top: 15px;
    }

    .about__title{
        margin-bottom: 15px;
    }

    .services__title{
        margin-bottom: 25px;
    }

    .accordion__text{
        font-size: 18px;
    }

    .services{
        padding-bottom: 44px;
    }

    .accordion__icon::before {
        width: 12px;
        height: 1px;
    }

    .accordion__icon::after {
        height: 12px;
        width: 1px;
    }

    .accordion__icon {
        width: 32px;
        height: 32px;
        right: 14px;
    }

    .accordion__btn {
        padding: 20px 11px;
       
    }

    .advantages__item-title{
        font-size: 18px;
        margin-bottom: 11px;
    }

    .advantages__text{
        font-size: 12px;
    }

    .advantages__item {
        width: 164px;
        
    }

    .advantages__list {
        gap: 30px;
    }

    .advantages__img {
        margin-bottom: 20px;
    }

    .advantages__title {
        margin-bottom: 17px;
    }

    .advantages__item:nth-child(3) {
        display: flex;
        justify-content: center
        ;
        flex: 1 1 100%;
    }

    .advantages__item-wrapper {
        width: 164px;
    }

}