@media(max-width:1200px) {
    .container {
        padding: 0 50px;
    }

    .example__slider-buttons {
        width: 120px;
        height: 50px;
    }

    .header__nav {
        padding: 28px 10px 25px;
    }

    .header__list {
        display: flex;
        gap: 8px;

    }

    .header__list-item {
        font-size: 18px;
    }

    .header__contacts {
        width: 380px;
        padding: 22px 10px 21px 10px;
    }

    .heder__contacts-link {
        font-size: 25px;
    }


    .header__list-item:nth-child(n+2)::before {
        width: 15px;
        height: 15px;
        background-size: cover;
        margin-right: 8px;
    }

    /* .hero__list-item {
        width: 230px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .hero__img {
        width: 100px;
    } */

    .hero__title {
        font-size: 73px;
        max-width: 700px;
    }

    .hero__text {
        font-size: 28px;
    }

    .hero__button {
        padding: 21.5px 50.5px;
    }

}

@media(max-width: 1024px) {
    .hero {
        /* height: 82vh; */
    }

    .hero__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .example__slider-buttons {
        top: 13px;
        right: 50px;
    }

    .header__contacts {
        width: auto;
        gap: 20px;
        padding: 12px 10px 12px 10px;
    }

    .example__slider-buttons,
    .comment__buttons {
        width: 120px;
        height: 47px;
        gap: 40px;
    }

    .header {
        background: rgba(0, 0, 0, 0.77);
        padding: 18px 0;
    }


    .header__content {
        justify-content: space-between;
        gap: 26px;
    }


    .header__contacts-icon {
        height: 36px;
    }

    .header__contacts-icon svg {
        width: 36px;
        height: 36px;
    }

    .header__list {
        position: absolute;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.77);
        right: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 11;
        transform: 0.5s;
    }

    .header__list.active {
        visibility: visible;
        opacity: 1;
    }

    .header__list-item:nth-child(n)::before {
        content: '';
        background-image: url('../img/header/gear.svg');
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 18px;
        background-size: cover;
    }

    .header__nav {
        background: transparent;
        max-width: none;
        border-radius: 0;
        order: 2;
    }

    .burger {
        display: flex;
        z-index: 12;
    }

    .example__slider-content {
        flex-direction: column;
        position: static;
    }

    .example {
        position: relative;
    }

    .about__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__caption,
    .about__text {
        max-width: max-content;
    }

    .footer__list {
        gap: 14px;
    }

    .footer__link-tel {
        font-size: 23px;
    }

}

@media(max-width:768px) {
    .hero__title {
        font-size: 65px;
        max-width: 620px;
    }

    .request__subtitle {
        font-size: 28px;
    }

    .reqest__title {
        font-size: 80px;
    }

    .site-title {
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 46px;
        text-transform: uppercase;
        color: #1b1b1b;
    }

    .hero__text {
        font-size: 24px;
        max-width: 420px;
    }

    .site-btn {
        padding: 14.5px 32.5px;
        font-size: 24px;
    }

    .hero__list-text {
        font-size: 21px;
    }

    .example__slider-buttons {
        top: 0;
    }

    .comment__buttons {
        height: 52px;
    }

    .footer__container {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin-bottom: 175px;
    }

    .footer__text-link {
        text-align: center;
    }

    .accordion__text {
        font-size: 24px;
    }

    .advantages__list {
        gap: 40px 59px;
    }

    .about {
        padding: 90px 0 93px;
    }

    .services {
        padding-bottom: 90px;
    }

    .advantages {
        padding-bottom: 90px;
    }

    .example {
        padding-bottom: 90px;
    }

    .questions {
        padding-bottom: 90px;
    }

    .comment {
        padding-bottom: 90px;
    }

    .footer {
        padding: 44px 0 34px;
    }
}

@media(max-width: 576px) {

    .site-title {
        font-size: 36px;
    }

    .header {
        background: rgba(0, 0, 0, 0.77);
        padding: 18px 0;
    }


    .header__content {
        justify-content: space-between;
        gap: 26px;
    }


    .header__contacts {
        backdrop-filter: none;
        box-shadow: none;
        background: transparent;
        opacity: 1;
        border: none;
        border-radius: 0;
        width: auto;
        display: block;
        justify-content: normal;
        align-items: normal;
        padding: 0;
        order: 1;
    }

    .heder__contacts-link {
        display: none;
    }




    .hero__title {
        font-size: 46px;
        max-width: 320px;
        margin-bottom: 18px;
    }

    .hero__text {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 30px;
        max-width: 305px;
    }

    .hero__list-text {
        font-size: 20px;
    }

    .hero__img {
        width: 40px;
        height: 48px;
    }

    .hero__list-item {
        align-items: center;
        width: 190px;
    }

    .header__contacts-icon svg {
        width: 36px;
        height: 42px;
    }

    .hero__box {
        padding-bottom: 40px;
    }

    .hero {
        background-position: 52.8%;
    }

    .hero__list {
        gap: 20px;
    }

    .about {
        padding: 44px 0;
    }

    .about__caption {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .about__text {
        font-size: 12px;
        margin-top: 15px;
    }

    .about__title {
        margin-bottom: 15px;
    }

    .services__title {
        margin-bottom: 25px;
    }

    .accordion__text {
        font-size: 18px;
    }

    .services {
        padding-bottom: 44px;
    }

    .accordion__icon::before {
        width: 12px;
        height: 1px;
    }

    .accordion__icon::after {
        height: 12px;
        width: 1px;
    }

    .accordion__icon {
        width: 32px;
        height: 32px;
        right: 14px;
    }

    .accordion__btn {
        padding: 20px 11px;

    }

    .advantages__item-title {
        font-size: 18px;
        margin-bottom: 11px;
    }

    .advantages__text {
        font-size: 12px;
    }

    .advantages__item {
        width: 164px;

    }

    .advantages {
        padding-bottom: 44px;
    }

    .advantages__list {
        gap: 30px;
    }

    .advantages__img {
        margin-bottom: 20px;
    }

    .advantages__title {
        margin-bottom: 17px;
    }

    .advantages__item:nth-child(3) {
        display: flex;
        justify-content: center;
        flex: 1 1 100%;
    }

    .advantages__item-wrapper {
        width: 164px;
    }

    .example {
        padding-bottom: 44px;
    }

    .example__slider-buttons {
        top: 0;
        right: 20px;
    }

    .example__slider-title {
        max-width: 250px;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .example__slider-list {
        gap: 20px;
    }

    .example__slider-item-title {
        font-weight: 500;
    }

    .questions__title {
        margin-bottom: 25px;
    }

    .questions {
        padding-bottom: 44px;
    }

    .reqest__title {
        margin: 0 auto 18px;
        max-width: 380px;
        font-size: 53px;
    }

    .request__subtitle {
        font-size: 20px;
    }

    .site-btn {
        font-size: 18px;
        padding: 12px 48px;
    }

    .request {
        height: 440px;
    }

    .footer {
        padding: 50px 0 34px;
    }

    .footer__list {
        flex-wrap: wrap;
        justify-content: center;
    }


    .footer__right {
        align-items: center;
    }

    .comment {
        padding-bottom: 44px;
    }

    .example__slider {
        border-radius: 18px;
    }

    .example__slider-content {
        padding: 16px;
    }

    .comment__item {
        border-radius: 18px;
    }
}

@media (max-width: 499px) {
    .hero__content {
        transform: translateY(-100px);
    }

    .hero__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}


@media (max-width: 430px) {

    .hero {
        justify-content: flex-start;
    }

    .hero__content {
        transform: translateY(140px);
    }

    .container {
        padding: 0 20px;
    }

    .example__slider-buttons,
    .comment__buttons {
        top: 53px;
        right: 20px;
        left: 20px;
        width: 86px;
        height: 32px;
        gap: 26px;
    }

    .example__slider-button svg,
    .comment__button svg {
        width: 14px;
        height: 24px;
    }

    .example__title {
        margin-bottom: 58px;
    }

    .comment__box {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}