:root {
  --chistyy-zheltyy: #fae042;
  --sero-zheltyy: #e5d47c;
  --seryy: #757575;

  --second-family: "Roboto", sans-serif;
  --third-family: "Roboto Condensed", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--second-family);
  scrollbar-gutter: stable;
  scroll-padding-top: 130px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.site-title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 64px;
  text-transform: uppercase;
  color: #1b1b1b;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-arrow {
  fill: #fff;
  width: 32px;
  height: 32px;
}

.site-tel {
  transition: transform 0.3s;
}

.site-icon {
  fill: #fae042;
  transition: transform 0.3s, fill 0.3s;
}

.site-btn {
  background: linear-gradient(180deg, #ffe749 0%, #d8b710 100%);
  border-radius: 12px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1rem, 0.046rem + 3.55vw, 1.75rem);
  letter-spacing: 0.01em;
  color: #000;
  border: none;
  outline: none;
  padding: 21.5px 71.5px;
  cursor: pointer;
  transition: 0.3s;
}

.site-btn:active {
  background: black;
  color: rgb(255, 255, 255);
}

.icon-wa:active {
  fill: #40c351;
}

.icon-tg:active {
  fill: #24a1de;
}

.icon-vk:active {
  fill: #4c75a3;
}

.error{
  color: red;
  font-size: 24px;
}
