@media (hover: hover) {
  .site-tel:hover {
    transform: scale(1.05);
  }
  .site-icon:hover {
    transform: scale(1.2);
  }
  .site-btn:hover {
    background: black;
    color: rgb(255, 255, 255);
  }

  .icon-wa:hover {
    fill: #40c351;
  }

  .icon-tg:hover {
    fill: #24a1de;
  }

  .icon-vk:hover {
    fill: #4c75a3;
  }
  .accordion__item:hover {
    background: #cbcbcb;
  }
  .example__slider-button:hover .example__slider-arrow {
    fill: #fae668;
  }
  .comment__button:hover .comment__slider-arrow {
    fill: black;
  }
  .footer__text-link:hover {
    color: #ffd505;
  }
  .modal__checkbox-link:hover {
    color: #d8b710;
  }
}

@-moz-document url-prefix() {
  .accordion__icon {
    background-color: white !important;
  }

  .burger__line,
  .burger__line::after,
  .burger__line::before {
    background-color: white !important;
  }
}

@media (prefers-color-scheme: dark) {
  .accordion__icon {
    background-color: white;
  }

  .accordion__item.active .accordion__icon {
    background-color: grey;
  }

  .burger__line,
  .burger__line::after,
  .burger__line::before {
    background-color: white;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }

  .example__slider-buttons {
    width: 120px;
    height: 50px;
  }

  .header__nav {
    padding: 28px 10px 25px;
  }

  .header__list {
    gap: 8px;
  }

  .header__list-item {
    font-size: 18px;
  }

  .header__contacts {
    width: 340px;
    padding: 22px 15px 21px 15px;
    font-size: 25px;
  }

  .header__list-item:nth-child(n + 2)::before {
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-right: 8px;
  }


  .hero__button {
    padding: 21.5px 50.5px;
  }

  .hero__list {
    gap: 25px;
  }

}

@media (max-width: 1024px) {
  .hero__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .comment__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 28px;
    gap: 10px;
}

  .example__slider-buttons {
    top: 75px;
    left: 40px;
  }

  .header__contacts {
    width: auto;
    gap: 20px;
    padding: 12px 10px 12px 10px;
    order: 2;
  }

  .example__slider-buttons,
  .comment__buttons {
    width: 120px;
    height: 47px;
    gap: 40px;
  }

  .example__title {
    margin-bottom: 75px;
  }
  .header {
    background: rgba(0, 0, 0, 0.77);
    padding: 18px 0;
  }

  .header__content {
    justify-content: space-between;
    gap: 26px;
  }

  .header__contacts-icon {
    height: 36px;
  }

  .header__contacts-icon svg {
    width: 36px;
    height: 36px;
  }

  .header__nav {
    padding: 0;
  }

  .header__list {
    position: absolute;
    top: -30px;
    flex-direction: column;
    padding-top: 165px;
    padding-left: 50px;
    gap: 50px;
    height: 100vh;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateX(-100%);
    left: -40px;
    z-index: 11;
  }

  .header__list,
  .footer__list {
    visibility: visible;
  }

  .swiper {
    position: static;
  }

  .header__list-item {
    font-size: 24px;
  }

  .header__list-item:nth-child(n)::before {
    content: "";
    background-image: url("../img/sprite.svg#header--gear");
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 18px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header__nav {
    background: transparent;
    max-width: none;
    border-radius: 0;
    order: 1;
  }

  .header.fixed .header__nav {
    box-shadow: none;
    background: none;
    backdrop-filter: none;
    border: none;
  }

  .burger {
    display: flex;
    z-index: 12;
  }

  .example__photo {
    height: 531px;
  }

  .example__slider-content {
    flex-direction: column;
    position: static;
  }

  .example {
    position: relative;
  }

  .about__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__caption,
  .about__text {
    max-width: max-content;
  }

  .footer__list {
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 270px;
  }

}

@media (max-width: 768px) {
  .example__photo {
    width: 100%;
  }

  .header__list {
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
  }

  .hero__box{
    bottom:34px;
  }

  .hero__text {
    max-width: 420px;
  }

  .site-btn {
    padding: 14.5px 32.5px;
  }

  .example__slider-buttons {
    top: 60px;
  }

  .comment__buttons {
    height: 52px;
  }

  .footer__container {
    flex-direction: column;
    gap: 33px;
    align-items: center;
    margin-bottom: 175px;
  }

  .footer__text-link {
    text-align: center;
  }

  .advantages__list {
    gap: 40px 59px;
  }

  .about {
    padding: 90px 0 93px;
  }

  .services {
    padding-bottom: 90px;
  }

  .advantages {
    padding-bottom: 90px;
  }

  .example {
    padding-bottom: 90px;
  }

  .questions {
    padding-bottom: 90px;
  }

  .comment {
    padding-bottom: 90px;
  }

  .footer {
    padding: 44px 0 34px;
  }
}

@media (max-width: 576px) {
  .modal__checkbox-text {
    font-size: 15px;
  }

  .header {
    background: rgba(0, 0, 0, 0.77);
    padding: 18px 0;
  }

  .header__content {
    justify-content: space-between;
    gap: 26px;
  }

  .header__contacts {
    backdrop-filter: none;
    box-shadow: none;
    background: transparent;
    opacity: 1;
    border: none;
    border-radius: 0;
    width: auto;
    display: block;
    justify-content: normal;
    align-items: normal;
    padding: 0;
    order: 1;
  }

  .header__contacts-link {
    display: none;
  }

  .header__list {
    top: -18px;
  }

  .hero__title {
    margin-bottom: 18px;
  }

  .hero__text {
    font-weight: 400;
    max-width: 280px;
  }

  .hero__list-item {
    align-items: center;
  }

  .header__contacts-icon svg {
    width: 36px;
    height: 42px;
  }

  .about {
    padding: 44px 0;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .services__title {
    margin-bottom: 25px;
  }

  .services {
    padding-bottom: 44px;
  }

  .accordion__icon::before {
    width: 12px;
    height: 1px;
  }

  .accordion__icon::after {
    height: 12px;
    width: 1px;
  }

  .accordion__icon {
    width: 32px;
    height: 32px;
    right: 14px;
  }

  .accordion__btn {
    padding: 20px 11px;
  }

  .advantages__item {
    width: 164px;
  }

  .advantages {
    padding-bottom: 44px;
  }

  .advantages__list {
    gap: 30px;
  }

  .advantages__img {
    margin-bottom: 20px;
  }

  .advantages__title {
    margin-bottom: 17px;
  }

  .advantages__item:nth-child(3) {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
  }

  .advantages__item-wrapper {
    width: 164px;
  }

  .example {
    padding-bottom: 44px;
  }

  .example__slider-buttons {
    top: 52px;
    right: auto;
  }

  .example__slider-title {
    max-width: 250px;
  }

  .example__slider-list {
    gap: 20px;
  }

  .example__slider-item-title {
    font-weight: 500;
  }

  .questions__title {
    margin-bottom: 25px;
  }

  .questions {
    padding-bottom: 44px;
  }

  .reqest__title {
    margin: 0 auto 18px;
    max-width: 380px;
  }

  .site-btn {
    padding: 18px 63px;
    border-radius: 6px;
  }

  .request {
    height: 440px;
  }

  .footer {
    padding: 50px 0 34px;
  }

  .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__right {
    align-items: center;
  }

  .comment {
    padding-bottom: 44px;
  }

  .example__slider {
    border-radius: 18px;
  }

  .example__slider-content {
    padding: 16px;
  }

  .comment__item {
    border-radius: 18px;
  }

  .modal__box {
    max-width: 290px;
    padding: 15px;
  }

  .modal__input,
  .modal__textarea {
    padding: 15px 10px;
    font-size: 16px;
  }

  .modal__title {
    margin-bottom: 5px;
    font-size: 24px;
  }

  .modal__text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .modal__textarea {
    min-height: 120px;
  }

  .modal__btn {
    padding: 15px 40px;
    font-size: 18px;
  }

  .modal__form {
    gap: 15px;
  }

  .example__photo {
    border-radius: 18px;
  }
}

@media (max-width: 499px) {
  .hero__list {
    gap: 20px;
  }

  .hero__img {
    width: 45px;
    height: 45px;
  }

  .example__slider-buttons,
  .comment__buttons {
    top: 58px;
    right: auto;
    width: 86px;
    height: 32px;
    gap: 26px;
  }

  .example__slider-button svg,
  .comment__button svg {
    width: 14px;
    height: 24px;
  }

  .example__before-text,
  .example__after-text {
    top: 10px;
  }

  .example__before-text {
    left: 10px;
  }

  .example__after-text {
    right: 10px;
  }
}

@media (max-width: 430px) {
  .hero {
    height: 480px;
  }

  .hero__box {
    position: relative;
    bottom: -10px;
  }

  .hero__box > .container {
    padding: 0;
  }

  .hero__list {
    gap: 20px 8px;
  }

  .site-btn {
    padding: 14px 44px;
  }

  .hero__img {
    width: 35px;
    height: 35px;
  }

  .hero__wrapper {
    padding-top: 73px;
  }

  .header__list {
    transform: translateX(-100%);
    left: -20px;
    padding-left: 20px;
    padding-top: 130px;
    z-index: 11;
  }

  .hero__title {
    margin-bottom: 18px;
  }

  .container {
    padding: 0 20px;
  }

  .example__slider-buttons,
  .comment__buttons {
    top: 50px;
    right: 20px;
    left: 20px;
    width: 86px;
    height: 32px;
    gap: 26px;
  }

  .example__title {
    margin-bottom: 58px;
  }

  .example__photo {
    height: 350px;
  }

  .comment__box {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .comment__buttons,
  .example__slider-buttons {
    top: 50px;
    width: 86px;
    height: 32px;
    gap: 26px;
  }

}
