.about {
  padding: 115px 0 93px;
}

.about__content {
  display: flex;
  gap: 56px;
}

.about__img {
  border-radius: 18px;
  object-fit: cover;
}

.about__title {
  border-bottom: 10px solid var(--chistyy-zheltyy);
  margin-bottom: 33px;
  display: inline-block;
}

.about__caption {
  display: block;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 125%;
  color: #272727;
  margin-bottom: 35px;
  max-width: 606px;
}

.about__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 129%;
  color: #323232;
  max-width: 573px;
  margin-top: 21px;
}

.about__text:first-child {
  margin-bottom: 30px;
}
