.advantages {
  padding-bottom: 114px;
}

.advantages__title {
  margin-bottom: 36px;
}

.advantages__item-title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(0.938rem, -1.875rem + 7.81vw, 1.875rem);
  text-transform: uppercase;
  color: #000;
  margin-bottom: clamp(0.688rem, -0.063rem + 2.08vw, 0.938rem);
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 78px 59px;
  justify-content: center;
}

.advantages__img {
  display: block;
  height: auto;
}

.advantages__item-wrapper {
  width: 349px;
}

.advantages__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(0.75rem, -0.375rem + 3.13vw, 1.125rem);
  text-align: center;
  color: var(--seryy);
}
