.advantages {
  padding-bottom: 114px;
}

.advantages__title {
  margin-bottom: 36px;
}

.advantages__item-title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 78px 59px;
  justify-content: center;
}

.advantages__img {
  display: block;
  height: auto;
}

.advantages__item-wrapper {
  width: 349px;
}

.advantages__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--seryy);
}
