.comment {
  padding-bottom: 126px;
}

.comment__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px;
}

.comment__buttons {
  border-radius: 68px;
  width: 160px;
  height: 68px;
  background: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.comment__button {
  display: flex;
}

.comment__button .comment__slider-arrow {
  transition: fill 0.3s;
}

.comment__button:active .comment__slider-arrow {
  fill: black;
}

.comment__list {
  display: flex;
}


.swiper-slide {
  height: auto !important;
}

.comment__item {
  max-width: 380px;;
  border-radius: 22px;
  padding: 20px 22px;
  min-height: clamp(28.125rem, 24.534rem + 17.95vw, 38rem);
  background: #efefef;
  display: flex;
  flex-direction: column;
}

.comment__item-content {
  padding-top: 25px;
  margin-bottom: 20px;
  flex: 1;
}

.comment__item-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  color: #282828;
  margin-bottom: 13px;
}

.comment__item-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #505050;
}

.comment__item-name,
.comment__item-city {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: #202020;
  display: inline-block;
}

.comment__item-img {
  border-radius: 22px;
  /* width: 100%;
  height: 100%; */
}