.example {
  padding-bottom: 113px;
}

.example__title {
  margin-bottom: 44px;
}

.example__slider {
  background: linear-gradient(180deg, #ffee8a 0%, #f4da3f 100%);
  border-radius: 28px;
}

.example__photo {
  position: relative;
  height: 531px;
  overflow: hidden;
  width: 533px;
  border-radius: 30px;
  touch-action: none;
}

.example__img {
  max-width: none;
  width: 100%;
  height: 100%;
  display: block;
  /* object-fit: cover; */
  user-select: none;
}

.example__before {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 50%;
  z-index: 2;
}

.example__after {
  height: 100%;
}

.example__change {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 3px;
  background: white;
}

.example__btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 4;
  gap: 30px;
}

.example__before-text,
.example__after-text {
  border-radius: 34px;
  padding: 3px 20px;
  background: #efeaea;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #000;
  position: absolute;
  top: 30px;
  z-index: 5;
}

.example__before-text {
  left: 30px;
}

.example__after-text {
  right: 30px;
  z-index: 1;
}

.example__slider-content {
  display: flex;
  gap: 50px;
  padding: 32px;
  align-items: center;
  position: relative;
}

.example__slider-img {
  border-radius: 30px;
}

.example__slider-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 36px;
  color: #000;
  margin-bottom: 34px;
}

.example__slider-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.example__slider-item-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 13px;
}

.example__slider-item-text {
  max-width: 514px;
  font-family: var(--second-family);
  color: #000;
}

.example__slider-buttons {
  background: linear-gradient(180deg, #3b3b3b 0%, #595959 100%);
  border-radius: 68px;
  width: 160px;
  height: 68px;
  position: absolute;
  top: 32px;
  right: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  z-index: 9;
}

.example__slider-button {
  display: flex;
}

.example__slider-button .example__slider-arrow {
  transition: fill 0.3s;
}

.example__slider-button:active .example__slider-arrow {
  fill: #fae668;
}