.footer {
  padding: 94px 0 34px;
  background-color: #111;
  position: relative;
  z-index: 2;
}

.footer__contacts-icon svg {
  width: 33px;
  height: 33px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.footer__list {
  display: flex;
  gap: 28px;
  margin-bottom: 33px;
}

.footer__list-link {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__text-link {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 20px;
  color: #a7963f;
  transition: color 0.3s;
}

.footer__text-link:active {
  color: #ffd505;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__link-tel {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  border-bottom: 1px dashed white;
  margin-bottom: 23px;
  white-space: nowrap;
}

.footer__contacts-social {
  display: flex;
  gap: 28px;
}

.footer::after {
  content: "";
  width: 211px;
  height: 211px;
  background-image: url("../../img/sprite.svg#footer--ellipse");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 66px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  filter: blur(42px);
}

.footer::before {
  content: "";
  width: 145px;
  height: 181px;
  background-image: url("../../img/sprite.svg#footer--human");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 66px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.footer-copyright {
  position: relative;
  z-index: 3;
}

.footer-copyright__author {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: #646464;
  text-align: center;
  margin-bottom: 9px;
}

.footer-copyright__link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #646464;
  text-align: center;
  display: block;
}
