.burger {
  width: 36px;
  height: 36px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.burger__line {
  transform-origin: left center;
  top: 18px;
}

.burger__line,
.burger__line::after,
.burger__line::before {
  width: 36px;
  height: 4px;
  background-color: white;
  display: block;
  transition: 0.3s;
  position: absolute;
}

.burger__line::before {
  content: "";
  top: -12px;
  transform-origin: center;
}

.burger__line::after {
  content: "";
  top: 12px;
  transform-origin: center;
}

.burger.active .burger__line {
  background-color: transparent;
  width: 0%;
}

.burger.active .burger__line::before {
  transform: translateX(-50%) rotate(45deg);
  top: 0;
}

.burger.active .burger__line::after {
  transform: translateX(-50%) rotate(-45deg);
  top: 0;
}

.header {
  padding-top: 32px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  will-change: transform;
}

.header.fixed {
  position: fixed;
  top: 0;
  padding: 20px 0;
  background-color: black;
}

.header.fixed .header__nav {
  box-shadow: inset -14px 14px 14px 0 rgba(255, 255, 255, 0.1),
    inset 14px -14px 14px 0 rgba(165, 165, 165, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.66666603088379px);
  border: 1px solid #969696;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts-icon svg {
  width: 24px;
  height: 24px;
}

.header__nav {
  background: rgba(7, 7, 7, 0.77);
  max-width: 694px;
  border-radius: 10px;
  padding: 28px 20px 26px;
  will-change: transform, opacity;
}

.header__list {
  display: flex;
  gap: 14px;
}

.header__list-item {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: var(--third-family);
  display: flex;
  align-items: center;
}

.header__list-item:nth-child(n + 2):before {
  content: "";
  background-image: url("../../img/sprite.svg#header--gear");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 14px;
}

.header__list-link {
  white-space: nowrap;
}

.header__contacts {
  backdrop-filter: blur(28.66666603088379px);
  box-shadow: inset -14px 14px 14px 0 rgba(255, 255, 255, 0.1),
    inset 14px -14px 14px 0 rgba(165, 165, 165, 0.1);
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.93;
  border: 1px solid #969696;
  border-radius: 7px;
  width: 424px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 34px 21px 24px;
  will-change: transform, opacity;
}

.header__list,
.footer__list {
  visibility: hidden;
}

@media (hover) and (prefers-reduced-motion: no-preference) {
  .header__list > li,
  .footer__list > li {
    visibility: visible;
    transition: opacity 0.3s;
  }

  .header__list > li::before,
  .footer__list > li::before {
    transition: filter 0.3s;
  }

  .header__list:hover > li:not(:hover),
  .footer__list:hover > li:not(:hover) {
    opacity: 0.25;
  }

  .header__list:hover > li::before,
  .footer__list:hover > li::before {
    filter: brightness(1000%);
  }
}

.header__contacts-icon {
  height: 24px;
}

.header__contacts-link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: clamp(1.438rem, 0.5rem + 1.25vw, 1.75rem);
  color: #fff;
  border-bottom: 1px dashed white;
  font-style: normal;
}

.header__contacts-social {
  display: flex;
  align-items: center;
  gap: 20px;
}
