
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.hero__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.hero__content {
  max-width: 812px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.hero__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(2.438rem, 0.738rem + 6.32vw, 7.063rem);
  line-height: 92%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 14px;
  color: white;
}

.hero__text {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: clamp(1rem, 0.541rem + 1.71vw, 2.25rem);
  letter-spacing: 0.02em;
  color: #f0f0f0;
  margin-bottom: clamp(1.125rem, -0.75rem + 5.21vw, 1.75rem);
}

.hero__box {
  position: absolute;
  width: 100%;
  bottom: 62px;
  left: 0;
  z-index: 1;
}

.hero__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.hero__list-item {
  display: flex;
  gap: clamp(0.5rem, 0.254rem + 0.68vw, 0.938rem);
  align-items: center;
}

.hero__img {
  width: 47px;
  height: 47px;
}

.hero__list-text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.474rem + 1.03vw, 1.5rem);
  text-transform: uppercase;
  color: #e6cf5b;
}
    
