.request {
  height: 668px;
  background: grey url("../../img/request/request.jpg") no-repeat 0% 90% /cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 90%;
}

.request__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.request__content {
  margin: 0 auto;
  text-align: center;
}

.reqest__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 104px;
  line-height: 101%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 18px;
}

.request__subtitle {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 101%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}