.request {
  height: 668px;
  background-image: image-set(
    url("../../img/request/request.webp") 1x, 
    url("../../img/request/request@2x.webp") 2x, 
    url("../../img/request/request@3x.webp") 3x, 
  );
  background-image: url("../../img/request/request.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 90%;
}

.request__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.request__content {
  margin: 0 auto;
  text-align: center;
}

.reqest__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(3.313rem, -0.786rem + 11.38vw, 6.5rem);
  line-height: 101%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 18px;
}

.request__subtitle {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(1.25rem, -0.357rem + 4.46vw, 2.5rem);
  line-height: 101%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}