.services {
  padding-bottom: 114px;
}

.services__title {
  margin-bottom: 49px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accordion__item {
  background: #e7e7e7;
  border-radius: 11px;
  transition: background 0.3s;
}

.accordion__item.active {
  background: #cbcbcb;
}

.accordion-box {
  max-width: 777px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  will-change: max-height;
}

.accordion-box__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 123%;
  color: #4a4a4a;
}

.accordion__btn {
  position: relative;
  display: flex;
  width: 100%;
  padding: 28px 27px;
}

.accordion__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.125rem, 0.703rem + 1.17vw, 1.875rem);
  color: #000;
  text-align: left;
  text-wrap: balance;
  width: 85%;
}

.accordion__icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white !important;
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.accordion__item.active .accordion__icon {
  background-color: #000;
  transform: translateY(-50%);
}

.accordion__item.active .accordion__icon::before,
.accordion__item.active .accordion__icon::after {
  background-color: rgb(255, 255, 255);
}

.accordion__item.active .accordion__icon::before {
  transform: translate(-50%, -50%) rotate(405deg);
}

.accordion__item.active .accordion__icon::after {
  transform: translate(-50%, -50%) rotate(405deg);
}

.accordion__icon::before,
.accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  transition: 0.6s ease;
}

.accordion__icon::before {
  width: 24px;
  height: 2px;
}

.accordion__icon::after {
  height: 24px;
  width: 2px;
}